
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Atendimento estrangeiro</title>
    <link rel="shortcut icon" href="~/Content/Imagens/Logo Lavi Preto.png" />
    <link rel="stylesheet" href="~/Scripts/Tema/global/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Scripts/Tema/global/fonts/font-awesome/font-awesome.min.css" />
</head>
<body>

    <div class="container">
        <h1 class="h1">Você ja possui cadastro?</h1>
        <div>
            <label>Digite seu nome para pesquisar</label>
            <input type="text" />

        </div>
        <div>
            <table class="table table-hover table-info table-bordered">
                <thead class="bg-dark text-white">
                    <tr>
                        <td>Nome</td>
                        <td>Ação</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Wallace</td>
                        <td>
                            <a class="btn btn-primary btn-sm text-white"> Este sou eu</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>



        <a class="btn btn-primary text-white">Não, não tenho</a>
    </div>

    <script src="~/Scripts/Tema/global/vendor/bootstrap/bootstrap.min.js"></script>
    <script href="~/Scripts/Tema/global/vendor/jquery/jquery.min.js"></script>
</body>
</html>
