
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Atendimento estrangeiro</title>
    <link rel="shortcut icon" href="~/Content/Imagens/Logo Lavi.png">
    <link rel="stylesheet" href="~/Scripts/Tema/global/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Scripts/Tema/global/fonts/font-awesome/font-awesome.min.css" />
</head>
<body>
    <div class="bg-dark d-flex p-3 px-md-4 mb-3">
        <div class="col-12 text-center">
            <img src="~/Content/Imagens/Logo Lavi.png" width="50" height="50" />

        </div>
    </div>
    <!--Texto informativo-->
    <div class="container">
        <div class="alert alert-info mt-5" role="alert">
            <h4 class="alert-heading text-center">@View.Resources.Resource.MuitoBem</h4>
            <p class="text-center">@View.Resources.Resource.AguardeOMedicoAvaliar</p>
            <hr>
            <p class="mb-0 text-center">@View.Resources.Resource.InfoEspere</p>
        </div>
    </div>
    <!--fim do texto informativo-->
    <div style="margin-top: 150px">
        <a class="btn btn-info text-white" style="margin-left: 460px" href="/atendimento">Próximo <i class="fa fa-forward"></i></a>
    </div>
    <script src="~/Scripts/Tema/global/vendor/bootstrap/bootstrap.min.js"></script>
    <script href="~/Scripts/Tema/global/vendor/jquery/jquery.min.js"></script>
</body>
</html>
