
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Atendimento estrangeiro</title>
    <link rel="shortcut icon" href="~/Content/Imagens/Logo Lavi.png">
    <link rel="stylesheet" href="~/Scripts/Tema/global/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Scripts/Tema/global/fonts/font-awesome/font-awesome.min.css" />
</head>
<body>
    <div class="bg-dark d-flex p-3 px-md-4 mb-3">
        <div class="col-12 text-center">
            <img src="~/Content/Imagens/Logo Lavi.png" width="50" height="50" />

        </div>
    </div>
    <div class="container">

        <div class="alert alert-info"  style="margin-top: 70px">
            <h2>
                Prezans ou fini, retounen òdinatè a moun kap rele a, epi tann pou enstriksyon yo!
            </h2>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <form method="post" action="/atendimentoespecial/InserirObservacao">
            <input type="text" name="id" value="@ViewBag.Atendimento" hidden="hidden" />
            <label class="font-weight-bold text-dark" for="campo-obserccao">Observações do paciente</label>
            <textarea class="form-control border-info" id="campo-observacao" name="observacao"></textarea> />
            <button class="btn btn-success mt-1 float-right" type="submit"><i class="fa fa-arrow-right"></i> Proximo</button>
        </form>
    </div>


    <script src="~/Scripts/Tema/global/vendor/bootstrap/bootstrap.min.js"></script>
    <script href="~/Scripts/Tema/global/vendor/jquery/jquery.min.js"></script>
</body>
</html>
