
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Atendimento estrangeiro</title>
    <link rel="shortcut icon" href="~/Content/Imagens/Logo Lavi.png">
    <link rel="stylesheet" href="~/Scripts/Tema/global/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Scripts/Tema/global/fonts/font-awesome/font-awesome.min.css" />
</head>
<body>
    <div class="bg-dark d-flex p-3 px-md-4 mb-3">
        <div class="col-12 text-center">
            <img src="~/Content/Imagens/Logo Lavi.png" width="50" height="50" />

        </div>
    </div>
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col-12">
                <h2 class="h2 font-weight-bold"> Chwazi lang ou / Choisissez votre langue </h2>

            </div>
        </div>
        <div class="row">
            <div class="col-sm ml-4 " style="margin-bottom: 119px">
                <div class="card" style="width: 25rem;">
                    <a href="/atendimentoespecial/instrucoesespecial?lang=fr-HT"><img src="~/Content/Imagens/Bandeiras/bandeira-do-haiti.png" class="card-img-top" alt="..."></a>
                    <h5>Klike sou drapo a si ou pale kreyòl </h5>
                </div>
            </div>
            <div class="col-sm" style="margin-bottom: 119px">
                <div class="card" style="width: 25rem;">
                    <a href="/atendimentoespecial/instrucoesespecial?lang=fr-FR">
                        <img src="~/Content/Imagens/Bandeiras/BandeiraDaFranca.jpg" class="card-img-top" alt="...">
                    </a>
                    <h5>Cliquez sur le drapeau si vous parlez français</h5>
                </div>
            </div>
        </div>

    </div>
    <div class=" bg-dark d-flex p-3 px-md-4">
        <div class="col-12">
        <a href="/atendimento/index" class="btn btn-secondary"><i class="fa fa-backward"></i> Voltar ao atendimento normal</a>
        </div>
    </div>

    <script src="~/Scripts/Tema/global/vendor/bootstrap/bootstrap.min.js"></script>
    <script href="~/Scripts/Tema/global/vendor/jquery/jquery.min.js"></script>
</body>
</html>
