
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Atendimento estrangeiro</title>
    <link rel="shortcut icon" href="~/Content/Imagens/Logo Lavi Preto.png" />
    <link rel="stylesheet" href="~/Scripts/Tema/global/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Scripts/Tema/global/fonts/font-awesome/font-awesome.min.css" />
</head>
<body>
    <div class="bg-dark d-flex p-3 px-md-4 mb-3">
        <div class="col-12 text-center">
            <img src="~/Content/Imagens/Logo Lavi .png" width="50" height="50" />

        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="h2 font-weight-bold"> Selecione uma linguagem</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-6 text-center">
                <a href="/atendimentoespecial/instrucoesespecial?lang=fr-HT" class="btn btn-info btn-lg"><strong> Criolo </strong></a>
            </div>
            <div class="col-6 text-center">
                <a href="/atendimentoespecial/instrucoesespecial?lang=fr-FR" class="btn btn-info btn-lg"><strong> Francês</strong> </a>
            </div>

        </div>
    </div>

    <div class=" bg-dark d-flex p-3 px-md-4 mb-3">

        <a href="/atendimento/index" class="btn btn-secondary "><i class="fa fa-backward"></i> Voltar ao atendimento normal</a>

    </div>


    <script src="~/Scripts/Tema/global/vendor/bootstrap/bootstrap.min.js"></script>
    <script href="~/Scripts/Tema/global/vendor/jquery/jquery.min.js"></script>
</body>
</html>
