
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de paciente estrangeiro</title>
    <link rel="stylesheet" href="~/Scripts/Tema/global/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Scripts/Tema/global/fonts/font-awesome/font-awesome.min.css" />
</head>
<body class="container">
    <h2 class="display-4"><i class="fa fa-warning"></i> Selecione uma linguagem</h2>
    <div class="row">
        <div class="col-6">
            <a href="/atendimentoespecial/partecorpoespecial?lang=criolo" class="btn btn-primary"> Criolo</a>
        </div>
        <div class="col-6">
            <a href="/atendimentoespecial/partecorpoespecial?lang=fr-FR" class="btn btn-primary"> Francês</a>
        </div>

    </div>

    <a href="/atendimento/index" class="btn btn-dark"><i class="fa fa-backward"></i> Voltar ao atendimento normal</a>
    <script src="~/Scripts/Tema/global/vendor/bootstrap/bootstrap.min.js"></script>
    <script href="~/Scripts/Tema/global/vendor/jquery/jquery.min.js"></script>
</body>
</html>
