
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Atendimento estrangeiro</title>
    <link rel="shortcut icon" href="~/Content/Imagens/Logo Lavi Preto.png" />
    <link rel="stylesheet" href="~/Scripts/Tema/global/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Scripts/Tema/global/fonts/font-awesome/font-awesome.min.css" />
</head>
<body class="container">
    <div class="container">
        <h1 class="display-4">@View.Resources.Resource.Ola</h1>
        <p class="font-weight-bold">@View.Resources.Resource.Instrucoes</p>
    </div>
    <a href="/atendimentoespecial/buscapaciente" class="btn btn-primary"><i class="fa fa-forward"></i> @View.Resources.Resource.Proximo</a>


    <script src="~/Scripts/Tema/global/vendor/bootstrap/bootstrap.min.js"></script>
    <script href="~/Scripts/Tema/global/vendor/jquery/jquery.min.js"></script>
</body>
</html>
