
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Atendimento estrangeiro</title>
    <link rel="shortcut icon" href="~/Content/Imagens/Logo Lavi Preto.png" />
    <link rel="stylesheet" href="~/Scripts/Tema/global/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Scripts/Tema/global/fonts/font-awesome/font-awesome.min.css" />
</head>
<body>
    <div class="bg-dark d-flex p-3 px-md-4 mb-3">
        <div class="col-12 text-center">
            <img src="~/Content/Imagens/Logo Lavi.png" width="50" height="50" />

        </div>
    </div>

    <div class="container" style="margin-top: 100px">
        <h1 class="display-4">@View.Resources.Resource.Ola</h1>
        <p class="font-weight-bold">@View.Resources.Resource.Instrucoes</p>
    </div>
    <div class="container">
    <a href="/atendimentoespecial/buscapaciente" class="btn btn-primary"><i class="fa fa-forward"></i> @View.Resources.Resource.Proximo</a>
    </div>


    <script src="~/Scripts/Tema/global/vendor/bootstrap/bootstrap.min.js"></script>
    <script href="~/Scripts/Tema/global/vendor/jquery/jquery.min.js"></script>
</body>
</html>
