
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Scripts/Tema/global/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Scripts/Tema/global/fonts/font-awesome/font-awesome.min.css" />
</head>
<body class="container">
    <input type="text" name="id" value="@ViewBag.Paciente.Id" hidden="hidden" />

    <h2 class="display-4"><i class="fa fa-warning"></i>@View.Resources.Resource.Ola '@ViewBag.Paciente.Nome'</h2>
    <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6">
        </div>

    </div>

    <script src="~/Scripts/Tema/global/vendor/bootstrap/bootstrap.min.js"></script>
    <script href="~/Scripts/Tema/global/vendor/jquery/jquery.min.js"></script>
</body>
</html>
