
@{
    ViewBag.Title = "Index";
}
<h2 class="h2">Adicionar Atendimento</h2>

<form action="/atendimento/inserir" method="post">

    <!--Selecionar o paciente-->
    <div class="row">
        <div class="col-10 pr-0">
            <label for="campo-paciente" class="font-weight-bold">Paciente<a class="text-danger">*</a></label>
            <select name="idPaciente" id="campo-paciente" class="form-control border-info">
                <option selected="selected" disabled="disabled">Selecione um paciente</option>
                @foreach (Model.Paciente paciente in ViewBag.Pacientes)
                {
                    <option value="@paciente.Id">@paciente.Nome</option>
                }
            </select>
        </div>
        <div class="col-2 pl-0">
                <a data-toggle="modal" data-target="#modal-paciente" class="btn btn-primary float-right mt-25 text-white ml-0"><i class="fa fa-search"></i> Paciente</a>

        </div>
    </div>

    <div class="row">
        <!-- A data n deve conter, pode caracterizar alguma fraude, deve ser automática-->
        <!--Prioridade-->
        @if (Session["usuarioLogadoPermissao"].ToString() != "1")
        {
            <div class="col-12">
                <div>
                    <label class="font-weight-bold" for="campo-prioridade">Prioridade<a class="text-danger">*</a></label>
                    <select name="Prioridade" id="campo-prioridade" class="form-control border-info">
                        <option selected="selected" disabled="disabled">Selecione a prioridade</option>
                        <option value="3">Alto</option>
                        <option value="2">Medio</option>
                        <option value="1">Baixo</option>
                    </select>

                </div>
            </div>
        }
    </div>

    <!--Campo Observação-->
    <div class="row">
        <div class="col-12">
            <label class="font-weight-bold" for="campo-observacao">Observação</label>
            <input class="form-control border-info" id="campo-observacao" name="observacao" maxlength="150" />
        </div>
    </div>

    <!--Campo tratamento visivel apenas para o adm e medico, uma descrição do tratamento feito no paciente-->
    @if ((Session["usuarioLogadoPermissao"].ToString() == "3") || (Session["usuarioLogadoPermissao"].ToString() == "4"))
    {

        <div class="row">
            <div class="col-12">
                <label class="font-weight-bold" for="campo-tratamento">Tratamento</label>
                <input class="form-control border-info" id="campo-tratamento" name="tratamento" maxlength="100" />
            </div>
        </div>
    }


    <button class="btn btn-success float-right mt-20" type="submit"><i class="fa fa-save"></i> Salvar</button>
    <a class="btn btn-secondary mt-20" href="/atendimentoespecial"><i class="fa fa-language"></i> Atendimento Especial</a>

    @RenderPage("ModalPaciente.cshtml")

</form>


