
@{
    ViewBag.Title = "Escolha";
}

<h2>Selecione o atendimento adequado para o paciente</h2>
<div class="card mb-3">
    <img src="~/Content/Imagens/Atendimento/atendimentoEspecial.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Atendimento para Estrangeiros</h5>
        <p class="card-text">Atendimento voltado aos estrangeiros.</p>
        <a href="/atendimentoEspecial" class="btn btn-info text-light">Atendimento</a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Atendimento para Brasileiros</h5>
        <p class="card-text">Atendimento voltado aos brasileiros.</p>
        <a href="" class="btn btn-info text-light">Atendimento</a>
    </div>
    <img src="~/Content/Imagens/Atendimento/atendimento.png" class="card-img-top" alt="...">
</div>
@*<div class="row">

        <div class="card-deck">
            <div class="card" style="width: 30rem;height: 360px">
                <img src="~/Content/Imagens/Bandeiras/Bandeira do Haiti2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Creolé</h5>
                    <p class="card-text">!</p>
                    <a href="/posto/cadastrar" style="margin:0 auto;" class="btn btn-primary mt-4 ">Encaminhar</a>
                </div>
            </div>
            <div class="card" style="width: 30rem;height: 360px">
                <img src="~/Content/Imagens/Bandeiras/BandeiraDoBrasil2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Brasil</h5>
                    <p class="card-text">!</p>
                    <a href="/posto/cadastrar" class="btn btn-primary mt-4">Encaminhar</a>
                </div>
            </div>
            <div class="card" style="width: 30rem;height: 360px">
                <img src="~/Content/Imagens/Bandeiras/BandeiraDaFranca.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Franch</h5>
                    <p class="card-text">!</p>
                    <a href="/posto/cadastrar" class="btn btn-primary mt-4">Encaminhar</a>
                </div>
            </div>
        </div>
    </div>*@