
@{
    ViewBag.Title = "Escolha";
}

<h2>Selecione o atendimento adequado para o paciente</h2>
<div class="row">
    <div class="col-sm">
<div class="card" style="width: 30rem;">
    <img src="~/Content/Imagens/Atendimento/atendimentoEspecial.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Atendimento para Estrangeiros</h5>
        <p class="card-text">Escolha esse se o seu paciente for estrangeiro.</p>
        <a href="/atendimentoEspecial" class="btn btn-info text-light">Atender</a>
    </div>
</div>
    </div>

    <div class="col-sm">
<div class="card" style="width: 30rem;">
    <img src="~/Content/Imagens/Atendimento/atendimento.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Atendimento para Brasileiros</h5>
        <p class="card-text">Escolha esse se o seu paciente for brasileiro.</p>
        <a href="/atendimento/cadastro" class="btn btn-info text-light">Atender</a>
    </div>

</div>
    </div>
</div>
