
@{
    ViewBag.Title = "Escolha";
}

<h2>Selecione o atendimento adequado para o paciente</h2>
<div class="row">
    <div class="col-6">
        <a class="text-center" href="/atendimentoEspecial">
            <div class="card ml-4" style="width: 30rem;">
                <img src="~/Content/Imagens/Atendimento/atendimentoEspecial.png" class="card-img-top" alt="...">
                <div class="card-body bg-blue-grey-300 rounded-bottom">
                    <h5 class="card-title">Atendimento para Estrangeiros</h5>
                    <p class="card-text text-dark">Escolha esse se o seu paciente for estrangeiro.</p>


                </div>
            </div>
        </a>
    </div>

    <div class="col-6">
        <div class="card text-center" style="width: 30rem;">
            <a href="/atendimento/cadastro">
                <img src="~/Content/Imagens/Atendimento/atendimento.png" class="card-img-top" alt="...">
                <div class="card-body bg-blue-grey-300 rounded-bottom">
                    <h5 class="card-title">Atendimento para Brasileiros</h5>
                    <p class="card-text text-dark">Escolha esse se o seu paciente for brasileiro.</p>
                </div>

            </a>
        </div>
    </div>
</div>
