
@{
    ViewBag.Title = "Index";
}

<h2>Adicionar Atendimento</h2>
<form action="" method="post">
    <!--Esta div contera o atendente e o medico, quando o atendente abrir nao tera a opção medico-->
    <!--Quando o medico abrir nao tera o atendente-->
    <div class="row">
        <div class="col-6">
            <select name="atentendente"
        </div>
    </div>


</form>


