
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <title>Lavi</title>

    <link rel="shortcut icon" href="~/Content/Imagens/Logo Lavi.png">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Scripts/Tema/global/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Scripts/Tema/global/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="~/Scripts/Tema/assets/css/site.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.css" />
    <link rel="stylesheet" href="~/Scripts/Tema/TemaPersonalizado.css" />

    <!-- Plugins -->
    <link rel="stylesheet" href="~/Scripts/Tema/global/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="~/Scripts/Tema/global/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="~/Scripts/Tema/global/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="~/Scripts/Tema/global/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="~/Scripts/Tema/global/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="~/Scripts/Tema/global/vendor/jquery-mmenu/jquery-mmenu.css">
    <link rel="stylesheet" href="~/Scripts/Tema/global/vendor/flag-icon-css/flag-icon.css">
    <link rel="stylesheet" href="~/Scripts/Tema/assets/examples/css/dashboard/v1.css">
    <link rel="stylesheet" href="~/Content/replaces.css" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>

    <!-- Fonts -->
    <link rel="stylesheet" href="~/Scripts/Tema/global/fonts/weather-icons/weather-icons.css">
    <link rel="stylesheet" href="~/Scripts/Tema/global/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="~/Scripts/Tema/global/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    @RenderSection("css", false)
    <!-- Scripts -->
    <script src="~/Scripts/Tema/global/vendor/breakpoints/breakpoints.js"></script>
    <script>Breakpoints();</script>

    <!--Data tables-->
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="~/Content/DataTables/css/jquery.dataTables.min.css" />
</head>
<body class="animsition site-navbar-small dashboard">


    <nav class="site-navbar fundo navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">

        <!--Sidenav logo-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
                    data-toggle="menubar">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-bar"></span>
            </button>
            <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
                    data-toggle="collapse">
                <i class="icon wb-more-horizontal" aria-hidden="true"></i>
            </button>
            <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
                <img class="navbar-brand-logo" id="logo" src="~/Content/Imagens/icones/Logo Lavi sem nome .png" title="Lavi">
                <span class="navbar-brand-text hidden-xs-down"> Lavi</span>
            </div>

        </div>

        <div class=" container-fluid">
            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse navbar-collapse-toolbar row" id="site-navbar-collapse">
                <!-- Navbar Toolbar -->
                <!--Navbar top, superior, fullscreen, perfil-->
                <ul class="nav navbar-toolbar">
                    <li class="nav-item hidden-float" id="toggleMenubar">
                        <a class="nav-link" data-toggle="menubar" href="#" role="button">
                            <i class="icon hamburger hamburger-arrow-left">
                                <span class="sr-only">Toggle menubar</span>
                                <span class="hamburger-bar"></span>
                            </i>
                        </a>
                    </li>
                    <li class="nav-item hidden-sm-down" id="toggleFullscreen">
                        <a class="nav-link icon icon-fullscreen branco" data-toggle="fullscreen" href="#" role="button">
                            <span class="sr-only">Tela Cheia</span>
                        </a>
                    </li>

                </ul>
                <!-- End Navbar Toolbar -->
                <!-- Navbar Toolbar Right -->
                <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                    <!-- Seletor de idioma que podemos usar em outras partes do codigo-->
                    <!--
                                        <li class="nav-item dropdown">
                                            <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up"
                                               aria-expanded="false" role="button">
                                                <span class="flag-icon flag-icon-us"></span>
                                            </a>
                                            <div class="dropdown-menu" role="menu">
                                                <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                                                    <span class="flag-icon flag-icon-gb"></span> English
                                                </a>
                                                <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                                                    <span class="flag-icon flag-icon-fr"></span> French
                                                </a>
                                                <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                                                    <span class="flag-icon flag-icon-cn"></span> Chinese
                                                </a>
                                                <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                                                    <span class="flag-icon flag-icon-de"></span> German
                                                </a>
                                                <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                                                    <span class="flag-icon flag-icon-nl"></span> Dutch
                                                </a>
                                            </div>
                                        </li>
                    -->
                    <!-- Botao de perfil-->
                    <li class="nav-item dropdown">
                        <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
                           data-animation="scale-up" role="button">
                            <span class="avatar avatar-online">
                                <img src="~/Scripts/Tema/global/portraits/user.png" alt="...">
                                <i></i>
                            </span>
                        </a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="/funcionario/alterar?id=@Session["usuarioLogadoId"]" role="menuitem"><i class="icon wb-user" aria-hidden="true"></i> Perfil</a>
                            <div class="dropdown-divider" role="presentation"></div>
                            <a class="dropdown-item" href="/login/sair" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> Sair</a>
                        </div>
                    </li>

                </ul>
                <!-- End Navbar Toolbar Right -->
            </div>
        </div>
    </nav>


    <!--Barra lateral, sidenav, sidebar-->
    <div class="site-menubar">
        <ul class="site-menu">

            <!--Opção intruções da sitenav-->
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)">
                    <i class="site-menu-icon wb-help" aria-hidden="true"></i>
                    <span class="site-menu-title">Instruções</span>
                    <span class="site-menu-arrow"></span>
                </a>
                <ul class="site-menu-sub">
                    <li class="site-menu-item has-sub">
                        <a href="/instrucoes/index">
                            <span class="site-menu-title">Instruções Gerais</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/instrucoes/imigrante">
                            <span class="site-menu-title">Instruções Imigrante</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--Cidade-->
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)">
                    <i class="site-menu-icon fa fa-globe" aria-hidden="true"></i>
                    <span class="site-menu-title">Cidade</span>
                    <span class="site-menu-arrow"></span>
                </a>
                <ul class="site-menu-sub">
                    <li class="site-menu-item has-sub">
                        <a href="/cidade">
                            <span class="site-menu-title">Lista de Cidades</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/cidade/cadastro">
                            <span class="site-menu-title">Cadastrar cidade</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--Posto-->
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)">
                    <i class="site-menu-icon fa fa-building" aria-hidden="true"></i>
                    <span class="site-menu-title">Posto</span>
                    <span class="site-menu-arrow"></span>
                </a>
                <ul class="site-menu-sub">
                    <li class="site-menu-item has-sub">
                        <a href="/posto/Index">
                            <span class="site-menu-title">Lista de Postos</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/posto/cadastrar">
                            <span class="site-menu-title">Cadastrar posto</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--Cargo-->
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)">
                    <i class="site-menu-icon fa fa-file" aria-hidden="true"></i>
                    <span class="site-menu-title">Cargo</span>
                    <span class="site-menu-arrow"></span>
                </a>
                <ul class="site-menu-sub">
                    <li class="site-menu-item has-sub">
                        <a href="/cargo/Index">
                            <span class="site-menu-title">Lista de Cargos</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/cargo/cadastrar">
                            <span class="site-menu-title">Cadastrar Cargo</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--Funcionario-->
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)">
                    <i class="site-menu-icon fa fa-user-md" aria-hidden="true"></i>
                    <span class="site-menu-title">Funcionário</span>
                    <span class="site-menu-arrow"></span>
                </a>
                <ul class="site-menu-sub">
                    <li class="site-menu-item has-sub">
                        <a href="/funcionario/index">
                            <span class="site-menu-title">Lista de Funcionários</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/funcionario/cadastrar">
                            <span class="site-menu-title">Cadastrar funcionário</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--Parte Corpo-->
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)">
                    <i class="site-menu-icon wb-heart" aria-hidden="true"></i>
                    <span class="site-menu-title">Parte Corpo</span>
                    <span class="site-menu-arrow"></span>
                </a>
                <ul class="site-menu-sub">
                    <li class="site-menu-item has-sub">
                        <a href="/partecorpo">
                            <span class="site-menu-title">Lista de partes</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/partecorpo/cadastrar">
                            <span class="site-menu-title">Cadastrar parte</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--Sintoma-->
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)">
                    <i class="site-menu-icon fa fa-medkit" aria-hidden="true"></i>
                    <span class="site-menu-title">Sintomas</span>
                    <span class="site-menu-arrow"></span>
                </a>
                <ul class="site-menu-sub">
                    <li class="site-menu-item has-sub">
                        <a href="/sintoma">
                            <span class="site-menu-title">Lista de Sintomas</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/sintoma/cadastrar">
                            <span class="site-menu-title">Cadastrar Sintoma</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--Opcão pacientes da sidenav-->
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)">
                    <i class="site-menu-icon fa fa-users"></i>
                    <span class="site-menu-title">Pacientes</span>
                    <span class="site-menu-arrow"></span>
                </a>
                <ul class="site-menu-sub">
                    <li class="site-menu-item has-sub">
                        <a href="/paciente/index">
                            <span class="site-menu-title">Lista de pacientes</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/paciente/cadastro">
                            <span class="site-menu-title">Cadastrar paciente</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--Opção atendimento da sidenav-->
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)">
                    <i class="site-menu-icon fa fa-ambulance" aria-hidden="true"></i>
                    <span class="site-menu-title">Atendimento</span>
                    <span class="site-menu-arrow"></span>
                </a>
                <ul class="site-menu-sub">
                    <li class="site-menu-item has-sub">
                        <a href="/atendimento/Index">
                            <span class="site-menu-title">Atendimentos em aberto</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/atendimento/escolha">
                            <span class="site-menu-title">Abrir atendimento</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--Opção encaminhamento da sidenav-->
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)">
                    <i class="site-menu-icon wb-bookmark" aria-hidden="true"></i>
                    <span class="site-menu-title">Encaminhamento</span>
                    <span class="site-menu-arrow"></span>
                </a>
                <ul class="site-menu-sub">
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/encaminhamento/escolha">
                            <span class="site-menu-title"> Encaminhar</span>
                        </a>
                    </li>

                </ul>
            </li>





        </ul>
    </div>

    <!-- Pagina -->
    <div class="page">
        <div class="page-content container-fluid">
            @RenderBody()
        </div>
    </div>
    <!-- End Page -->
    <!-- Core  -->
    <script src="~/Scripts/Tema/global/vendor/babel-external-helpers/babel-external-helpers.js"></script>
    <script src="~/Scripts/Tema/global/vendor/jquery/jquery.js"></script>
    <script src="~/Scripts/Tema/global/vendor/popper-js/umd/popper.min.js"></script>
    <script src="~/Scripts/Tema/global/vendor/bootstrap/bootstrap.js"></script>
    <script src="~/Scripts/Tema/global/vendor/animsition/animsition.js"></script>
    <script src="~/Scripts/Tema/global/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="~/Scripts/Tema/global/vendor/asscrollbar/jquery-asScrollbar.js"></script>
    <script src="~/Scripts/Tema/global/vendor/asscrollable/jquery-asScrollable.js"></script>

    <!-- Plugins -->
    <script src="~/Scripts/Tema/global/vendor/jquery-mmenu/jquery.mmenu.min.all.js"></script>
    <script src="~/Scripts/Tema/global/vendor/switchery/switchery.js"></script>
    <script src="~/Scripts/Tema/global/vendor/intro-js/intro.js"></script>
    <script src="~/Scripts/Tema/global/vendor/screenfull/screenfull.js"></script>
    <script src="~/Scripts/Tema/global/vendor/slidepanel/jquery-slidePanel.js"></script>
    <script src="~/Scripts/Tema/global/vendor/skycons/skycons.js"></script>


    <!-- Scripts -->
    <script src="~/Scripts/Tema/global/js/Component.js"></script>
    <script src="~/Scripts/Tema/global/js/Plugin.js"></script>
    <script src="~/Scripts/Tema/global/js/Base.js"></script>
    <script src="~/Scripts/Tema/global/js/Config.js"></script>

    <script src="~/Scripts/Tema/assets/js/Section/Menubar.js"></script>
    <script src="~/Scripts/Tema/assets/js/Section/Sidebar.js"></script>
    <script src="~/Scripts/Tema/assets/js/Section/PageAside.js"></script>
    <script src="~/Scripts/Tema/assets/js/Section/GridMenu.js"></script>

    <!-- Config -->
    <script src="~/Scripts/Tema/global/js/config/colors.js"></script>
    <script src="~/Scripts/Tema/assets/js/config/tour.js"></script>
    <script>Config.set('assets', 'assets');</script>

    <!-- Page -->
    <script src="~/Scripts/Tema/assets/js/Site.js"></script>
    <script src="~/Scripts/Tema/global/js/Plugin/asscrollable.js"></script>
    <script src="~/Scripts/Tema/global/js/Plugin/slidepanel.js"></script>
    <script src="~/Scripts/Tema/global/js/Plugin/switchery.js"></script>
    <script src="~/Scripts/Tema/global/js/Plugin/matchheight.js"></script>
    <script src="~/Scripts/Tema/global/js/Plugin/jvectormap.js"></script>

    <script src="~/Scripts/Tema/assets/examples/js/dashboard/v1.js"></script>

    <script src="~/Scripts/lib/i18n/i18n.js"></script>
    @RenderSection("js", false)

</body>
</html>