
@{
    ViewBag.Title = "Alterar";
}

<h2>Alterar</h2>


<div class="row">
    <div class="col-12">
        <form action="/cargo/update" method="post">
            <input type="hidden" name="id" id="id" value="@ViewBag.Cargos.Id" />
            <div class="form-group">
                <label for="cargo-nome">Cargo</label>
                <input class="form-control" id="cargo-nome" name="nome" maxlength="100" type="text" value="@ViewBag.Cargos.Nome"/>
            </div>            
            <div>
                <label class="font-weight-bold" for="campo-nivel">Nivel de Permissão</label>
                <select name="nivelpermissao" id="campo-nivel" class="form-control">
                    <option selected="selected" hidden="hidden">Selecione um nivel</option>
                    <option value="1">Baixo</option>
                    <option value="2">Medio</option>
                    <option value="3">Alto</option>
                    <option value="4">Administrador</option>
                </select>
            </div>
            <button class="btn btn-success float-right" type="submit"><i class="fa fa-save"></i>Salvar</button>
        </form>
    </div>
</div>