
@{
    ViewBag.Title = "Alterar";
}

<h2>Alterar</h2>


<div class="row">
    <div class="col-5">
        <form action="/cargo/update" method="post">
            <input type="hidden" name="id" id="id" value="@ViewBag.Cargo.Id" />
            <div class="form-group">
                <label for="cargo-nome">Nome</label>
                <input class="form-control" id="cargo-nome" name="nome" maxlength="100" @ViewBag.Cargo.Nome/>
            </div>            
            <button class="btn btn-success" type="submit">Salvar</button>
        </form>
    </div>
</div>