
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

   <div class="row">
    <div class="col-12">
<form action="/cargo/inserir" method="post">
        <label for="campo-nome">Nome</label>
        <input type="text" maxlength="100" name="nome" id="campo-nome" style="min-width:900px" />
    <button type="submit" style="margin-top: 5px" class="btn btn-success float-right">Salvar</button>

</form>
    </div>
   </div>
