
@{
    ViewBag.Title = "Cadastrar";
}

<h2 class="display-4">Cadastro de Cargo</h2>

<form action="/cargo/inserir" method="post">
    <div class="row">
        <div class="col-4">
            <label class="font-weight-bold" for="campo-nome">Nome</label>
            <input type="text" maxlength="100" name="nome" id="campo-nome" class="form-control border-info" />
        </div>
    </div>

    <button type="submit" style="margin-top: 5px" class="btn btn-success">Salvar</button>

</form>
