
@{
    ViewBag.Title = "Editar";
}

<div>
    class="row">
    <div class="col-5">
        <form action="/cargo/editar" method="post">
            <input type="hidden" name="id"
                   id="id"
                   value="@ViewBag.Cargo.Id" />
            <div class="form-group">
                <label id="cargo">Cargo</label>
                <select class="form-control"
                        id="cargo"
                        name="idCargo">
                    <option value="@ViewBag.Cargo.Id"
                            selected="selected">
                        @ViewBag.Cargo.Nome
                    </option>
                </select>
            </div>
            <button class="btn btn-primary float-right">Salvar</button>
        </form>
    </div>
</div>