
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-6">
        <h2 class="h2">Lista de cargos</h2>
    </div>
    <div class="col-6">
        <a class="btn btn-dark float-right mt-30" href="/cargo/cadastrar"><i class="fa fa-plus"></i> Adicionar Cargo</a>
    </div>
</div>
<table class="table table-primary table-striped table-hover text-dark" id="cargos-index">
    <thead class="bg-dark">
        <tr>
            <td>Cargos</td>
            <td>Nivel Permissão</td>
            <td width="220px">Ação</td>
        </tr>
    </thead>
    <tbody class="font-weight-bold">
        @foreach (Model.Cargo cargo in ViewBag.Cargos)
        {
            <tr>
                <td>@cargo.Nome</td>
                <td>@cargo.NivelPermissao</td>
                <td>
                    <a class="btn btn-info ml-10" href="/cargo/alterar?id=@cargo.Id"><i class="fa fa-edit"></i> Editar</a>
                    <a class="btn btn-danger ml-10" href="/cargo/apagar?id=@cargo.Id"><i class="fa fa-trash"></i> Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
