.site-menubar {
  background: $site-menubar-bg;
  color: $site-menubar-color;
  box-shadow: $site-menubar-shadow;

  &.site-menubar-light {
    background: $site-menubar-light-bg;
    color: $site-menubar-light-color;
  }
}