.site-menubar-fold:not(.site-menubar-open) {
  &.site-menubar-changing {
    .site-menu {
      > .site-menu-item {
        > .site-menu-sub {
          transition: none;
        }
      }
    }
  }

  .site-menubar-header {
    display: none;
  }

  .site-menubar {
    @include transform(translate3d(0, 0, 0));
    width: $site-menubar-fold-width;
    opacity: 1;
    -ms-transform: translate(0, 0);
  }

  .site-menubar-body {
    height: 100%;
  }

  .site-menu {
    overflow: visible;

    > .site-menu-item {
      font-size: 14px;

      > a {
        height: $site-menu-top-height;
        line-height: $site-menu-top-height;

        .site-menu-title, .site-menu-icon {
          position: absolute;
          top: 0;
          left: 0;
          width: $site-menubar-fold-width;
          text-align: center;
          transition: visibility .25s, opacity .25s;
        }

        .site-menu-arrow {
          visibility: hidden;
          transition: visibility 0;
        }

        .site-menu-title {
          visibility: hidden;
          opacity: 0;
        }

        .site-menu-icon {
          margin-right: 0;
          font-size: 16px;
          visibility: visible;
          opacity: 1;
        }

        .site-menu-badge {
          top: -10px;
          left: 40px;
        }

        .site-menu-label {
          display: none;
        }
      }
    }

    .site-menu-sub {
      .site-menu-sub {
        display: none;
      }

      .site-menu-title:first-child {
        margin-left: 0;
      }

      .site-menu-item {
        &.open {
          > a {
            .site-menu-arrow {
              @include transform(rotate(90deg));
            }
          }

          > .site-menu-sub {
            display: block;
          }
        }

        &:not(.open) {
          > a {
            .site-menu-arrow {
              @include transform(none);
            }
          }

          > .site-menu-sub {
            display: none;
          }
        }
      }
    }

    > .site-menu-item {
      > .site-menu-sub {
        position: absolute;
        top: 0;
        left: $site-menubar-fold-width;
        width: $site-menubar-fold-sub-width;
        overflow-y: auto;
        visibility: hidden;
        background: $site-menubar-fold-sub-bg;
        box-shadow: ($site-menubar-fold-sub-shadow);
        opacity: 0;

        transition: visibility .25s, opacity .25s;

        &-up {
          top: auto;
          bottom: 0;
        }

        .site-menu-item {
          > a {
            padding: 0 30px;
          }

          .site-menu-icon {
            display: none;
          }
        }
      }

      &.hover {
        > .site-menu-sub {
          display: block;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
