
@{
    ViewBag.Title = "Escolha";
}

<h2>Escolha</h2>
<head>
    <link rel="stylesheet" href="~/Scripts/Encaminhamento/TesteEncaminhamento.css" />
</head>

<div class="row">
    <input type="text" name="idAtendimento" hidden value="@ViewBag.Atendimento" />
    <div class="col-sm">
        <a data-toggle="modal" data-target="#farmaciaModal">
            <div class="card bg-blue-grey-300 rounded-bottom" style="width: 20rem;height: 320px">
                <img src="~/Content/Imagens/Encaminhamento/farmácia1.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Farmácia</h5>
                    <p class="card-text">Aqui você irá encaminhar o paciente para uma farmácia, incluir medicamentos, e designar demais atividades.</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm">
        <a data-toggle="modal" data-target="#postoModal">
            <div class="card bg-blue-grey-300 rounded-bottom" style="width: 20rem;height: 320px">
                <img src="~/Content/Imagens/Encaminhamento/POSTO.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Policlínica</h5>
                    <p class="card-text">Aqui você irá encaminhar para uma policlínica que contenha os recursos necessários para atende-lo.</p>
                    <!-- Button trigger modal -->
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm">
        <a data-toggle="modal" data-target="#hospitalModal">
            <div class="card bg-blue-grey-300 rounded-bottom" style="width: 20rem;height: 320px">
                <img src="~/Content/Imagens/CardsTelaInicial/posto.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Hospital</h5>
                    <p class="card-text">Aqui você irá encaminhar para um Hospital, e enviar uma breve descrição sobre a necessidade do paciente.</p>

                    <!-- Button trigger modal -->
                </div>
            </div>
        </a>
    </div>
</div>

@section js{
    <script src="~/Scripts/Encaminhamento/TraducaoJavaScript.js"></script>
    <script src="~/Scripts/Encaminhamento/TesteEncaminhamento.js"></script>
}


@RenderPage("PostoEncaminhar.cshtml")
@RenderPage("FarmaciaEncaminhar.cshtml")
@RenderPage("HospitalEncaminhar.cshtml")