
@{
    ViewBag.Title = "Escolha";
}

<h2>Escolha</h2>

<div class="row">

    <div class="col-sm">
        <div class="card" style="width: 30rem;">
            <img src="~/Content/Imagens/CardsTelaInicial/postos.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Posto</h5>
                <p class="card-text">Aqui você irá encaminhar para uma unidade de saúde, e enviar uma breve descrição sobre a necessidade do paciente!</p>
                <a href="/posto/cadastrar" style="margin: 0 auto;" class="btn btn-primary">Encaminhar</a>
            </div>
        </div>
    </div>

    <div class="col-sm">
        <div class="card" style="width: 30rem;">
            <img src="~/Content/Imagens/CardsTelaInicial/postos.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Farmácia</h5>
                <p class="card-text">Aqui você irá encaminhar o paciente para uma farmácia, incluir medicamentos, e designar demais atividades!</p>
                <a href="/posto/cadastrar" class="btn btn-primary mt-4">Encaminhar</a>
            </div>
        </div>
    </div>
</div>