
@{
    ViewBag.Title = "Escolha";
}

<h2>Escolha</h2>
<head>
    <link rel="stylesheet" href="~/Content/TesteEncaminhamento.css" />
</head>

<div class="row">

    <div class="card-deck">
        <div class="card" style="width: 30rem;height: 360px">
            <img src="~/Content/Imagens/Encaminhamento/farmácia1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Farmácia</h5>
                <p class="card-text">Aqui você irá encaminhar o paciente para uma farmácia, incluir medicamentos, e designar demais atividades.</p>
                <!-- Button trigger modal -->
                <button class="btn btn-primary float-right mb-2"
                        data-toggle="modal"
                        data-target="#farmaciaModal">
                    Ecaminhar
                </button>

                <!-- Modal -->
                <div class="modal fade" id="ModalFarmacia" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">

                    <!-- Modal Content: begins -->
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div id="printThis3">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalScrollableTitle">
                                        Encaminhamento para Farmácia
                                    </h5>

                                </div>

                                <!-- Modal Body -->
                                <div class="modal-body">
                                    <p>Você deve se dirigir até uma farmácia e comprar os seguintes remédios:</p>
                                    <p>Nome do remédio		Quantidade por dia		Total de dias que deverá usar</p>
                                    <p>
                                        ______________		_______________		_______________________
                                    </p>
                                </div>
                            </div>

                            <!-- Modal Footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button id="btnPrint3" type="button" class="btn btn-default">Print</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Button trigger modal -->
            </div>
        </div>
        <div class="card" style="width: 30rem;height: 360px">
            <img src="~/Content/Imagens/Encaminhamento/POSTO.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Policlínica</h5>
                <p class="card-text">Aqui você irá encaminhar para uma policlínica que contenha os recursos necessários para atende-lo.</p>
                <!-- Button trigger modal -->
                <button class="btn btn-primary float-right mb-2"
                        data-toggle="modal"
                        data-target="#postoModal">
                    Encaminhar
                </button>

                <!-- Modal -->
                <div class="modal fade" id="ModalPoliclinica" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">

                    <!-- Modal Content: begins -->
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div id="printThis2">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalScrollableTitle">
                                        Modal title
                                    </h5>

                                </div>

                                <!-- Modal Body -->
                                <div class="modal-body">
                                    AQUI VAI O TEXTO da Policlínica
                                </div>

                            </div>

                            <!-- Modal Footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button id="btnPrint2" type="button" class="btn btn-default">Print</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Button trigger modal -->
            </div>
        </div>

        <!--Hospital-->
        <div class="card" style="width: 30rem;height: 360px">
            <img src="~/Content/Imagens/CardsTelaInicial/postos.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hospital</h5>
                <p class="card-text">Aqui você irá encaminhar para um Hospital, e enviar uma breve descrição sobre a necessidade do paciente.</p>

                <!-- Button trigger modal -->
                <button class="btn btn-primary float-right mb-2"
                        data-toggle="modal"
                        data-target="#hospitalModal">
                    Encaminhar
                </button>

                <!-- Modal -->
                <div class="modal fade" id="ModalHospital" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">

                    <!-- Modal Content: begins -->
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div id="printThis">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalScrollableTitle">
                                        Modal title
                                    </h5>

                                </div>

                                <!-- Modal Body -->
                                <div class="modal-body">
                                    AQUI VAI O TEXTO
                                </div>

                            </div>

                            <!-- Modal Footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button id="btnPrint" type="button" class="btn btn-default">Print</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section js{
    <script src="~/Content/TesteEncaminhamento.js"></script>
}

@RenderPage("PostoEncaminhar.cshtml")
@RenderPage("FarmaciaEncaminhar.cshtml")
@RenderPage("HospitalEncaminhar.cshtml")