
<div id="printThis">
    <div id="farmaciaModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg">

            <!-- Modal Content: begins -->
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Farmácia</h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body printSection">
                    <div class="body-message">
                        <h4>Encaminhamento</h4>
                        <p>Farmacia brow else...</p>
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
                    <button id="btnPrint" type="button" class="btn btn-default">Imprimir</button>
                </div>

            </div>
        </div>
    </div>
</div>

</div>
@section js{
    <script src="~/Content/TesteEncaminhamento.js"></script>
}
