
<div id="printThis3">
    <div id="hospitalModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg">

            <!-- Modal Content: begins -->
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Hospital</h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body printSection">
                    <div class="body-message">
                        <h4>Encaminhamento</h4>
                        
                        <p>Você deverá se dirigir ao Hospital Municipal de <input type="text" class="form-control" placeholder="Cidade" aria-label="Usuário" aria-describedby="basic-addon1">, ENDEREÇO <input />, TELEFONE <input /> no setor _____________________________, pois seu caso é mais complexo e precisa de uma atendimento especializado imediato. Para chegar lá pegue o ônibus _______________________ no ponto de ônibus _________________________________. Lá você deverá apresentar este documento e será atendido por um médico que auxiliará na resolução de seu problema.</p>
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
                    <button id="btnPrint3" type="button" class="btn btn-default">Imprimir</button>
                </div>

            </div>
        </div>
    </div>
</div>

</div>
@section js{
    <script src="~/Content/TesteEncaminhamento.js"></script>
}
