
<div id="printThis3">
    <div id="hospitalModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg">

            <!-- Modal Content: begins -->
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">

                    <div class="col-7">
                        <h4 class="modal-title" id="gridSystemModalLabel">Hospital</h4>
                    </div>

                    <div class="col-5">
                        <div class="container body-content">
                            <button id="hospital-encaminhar-criolo">
                                <span class="mt-5 flag-icon flag-icon-ht"></span> Crioulo
                            </button>
                            <button id="hospital-encaminhar-frances">
                                <span class="mt-5 flag-icon flag-icon-fr"></span> Francês
                            </button>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    </div>

                </div>

                <!-- Modal Body -->
                <div class="modal-body printSection">
                    <div class="body-message">
                        <h3 class="text-dark">Encaminhamento<span id="encaminhamento-hospital"></span></h3>
                        <div class="row">
                            <div class="col-12">
                                <div class="body-message">
                                    <div>
                                        <span id="hospital-encaminhar-texto-redirecionar" class="font-weight-bold"></span>
                                    </div>
                                    <div>
                                        <div class="row mt-10">
                                            <div class="col-6">
                                                Nome do Hospital
                                            </div>
                                            <div class="col-6">
                                                Endereço do Hospital
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-6">
                                                <span id="hospital-nome" class="text-danger font-weight-bold"></span>
                                            </div>
                                            <div class="col-6">
                                                <span id="hospital-endereco" class="text-danger font-weight-bold"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <input type="text" required="" class="form-control" />
                                            </div>
                                            <div class="col-6">
                                                <input type="text" required="" class="form-control" />
                                            </div>
                                        </div>
                                        <div>
                                            <div class="row mt-10">
                                                <div class="col-6">
                                                    Telefone
                                                </div>
                                                <div class="col-6">
                                                    Setor
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <span id="hospital-telefone" class="text-danger font-weight-bold"></span>
                                            </div>
                                            <div class="col-6">
                                                <span id="hospital-setor" class="text-danger font-weight-bold"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <input type="text" required="" class="form-control" />
                                            </div>
                                            <div class="col">
                                                <input type="text" required="" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="row mt-10">
                                            <div class="col-6">
                                                Terminal
                                            </div>
                                            <div class="col-6">
                                                Ônibus
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <span id="hospital-terminal" class="text-danger font-weight-bold"></span>
                                        </div>
                                        <div class="col-6">
                                            <span id="hospital-onibus" class="text-danger font-weight-bold"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" required="" class="form-control" />
                                        </div>
                                        <div class="col">
                                            <input type="text" required="" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-10">
                                    <span id="hospital-fim" class="font-weight-bold"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
                    <button id="btnPrint3" type="button" class="btn btn-default">Imprimir</button>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>

</div>
@section js{
    <script src="~/Content/TesteEncaminhamento.js"></script>
}
