
<div id="printThis3">
    <div id="hospitalModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg">

            <!-- Modal Content: begins -->
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <div class="row">
                        <div class="col-6">
                            <div class="container body-content">
                                <a href="">
                                    <span class="flag-icon flag-icon-ht"></span> Crioulo
                                </a>
                                <a href="">
                                    <span class="flag-icon flag-icon-fr"></span> Francês
                                </a>
                            </div>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridSystemModalLabel">Hospital</h4>
                    </div>                    
                </div>

                <!-- Modal Body -->
                <div class="modal-body printSection">
                    <div class="body-message">
                        <h4 class="text-center">Encaminhamento</h4>
                        <div class="row">
                            <div col-12>
                                <div class="body-message ml-25 mr-25">
                                    <div id="inline">
                                        <br />
                                        <p class="text-left">Você deverá se dirigir ao Hospital Municipal de <input type="text" class="border-light rounded" placeholder="Cidade" required="" />, <input type="text" class="border-light rounded" placeholder="Endereço" required="" />, <input type="text" class="border-light rounded" placeholder="Telefone" required="" /> no setor _____________________________, pois seu caso é mais complexo e precisa de uma atendimento especializado imediato. Para chegar lá pegue o ônibus _______________________ no ponto de ônibus _________________________________. Lá você deverá apresentar este documento e será atendido por um médico que auxiliará na resolução de seu problema.</p>
                                        <br />
                                        <br />
                                        <br />
                                        <p class="text-left">Vous devez vous rendre à l’Hôpital Municipal de Gaspar <input type="text" class="border-light rounded" placeholder="Cidade" required="" />, <input type="text" class="border-light rounded" placeholder="Endereço" required="" />, <input type="text" class="border-light rounded" placeholder="Telefone" required="" /> du secteur ____________________________,votre cas est plus complexe et nécessite des soins spécialisés immédiats. Pour y aller, prendre le bus _______________________ à l'arrêt de bus _________________________________. Là, vous devez présenter ce document et sera assisté par un médecin qui vous aidera à résoudre votre problème.</p>
                                        <br />
                                        <br />
                                        <br />
                                        <p class="text-left">Ou ta dwe ale lopital minisipal de <input type="text" class="border-light rounded" placeholder="Cidade" required="" />, <input type="text" class="border-light rounded" placeholder="Endereço" required="" />, <input type="text" class="border-light rounded" placeholder="Telefone" required="" /> lan nan sektè _____________________________, menm jan ka ou a pi konplike epi li bezwen swen espesyalize imedya. Pou jwenn otobis la _______________________ nan estasyon bis la _________________________________espesyalize imedya. Pou jwenn otobis la _______________________ nan estasyon bis la _________________________________.Gen ou dwe soumèt sa dosye yo epi ap asiste yon doktè ki ta ka ede nan rezoud pwoblèm ou. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
                    <button id="btnPrint3" type="button" class="btn btn-default">Imprimir</button>
                </div>

            </div>
        </div>
    </div>
</div>

</div>
@section js{
    <script src="~/Content/TesteEncaminhamento.js"></script>
}
