<head>
    <link rel="stylesheet" href="~/Scripts/Encaminhamento/ModalPosto.js" />
</head>

<div id="postoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <!-- Modal Content: begins -->
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <div class="row">
                    <div class="col-6">
                        <div class="container body-content">
                            <a href="/Language/Change?lang=pt-BR">

                                <span class="flag-icon flag-icon-gb"></span> English
                            </a>
                            <a href="/Language/Change?lang=en-US">

                                <span class="flag-icon flag-icon-gb"></span> Franch
                            </a>
                        </div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Policlínica</h4>
                </div>
            </div>
            <div id="printThis2">
                <!-- Modal Body -->
                <div class="modal-body printSection">
                    <div class=" row">
                        <div class="col-12">
                            <p>Você será direcionado para um atendimento especializado na Policlínica, lá você deverá apresentar este documento e e um médico o auxiliará na resolução de seu problema.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="body-message">
                                <div id="inline">
                                    Você será direcionado ao endereço: <input type="text" placeholder="Endereço" required="" /> Telefone :<input type="text" @*id="campo-local"*@ placeholder="Número" @*class="form-control border-info" maxlength="100" required=""*@>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                @*Você será direcionado para um atendimento especializado na Policlínica de CIDADE, ENDEREÇO, TELEFONE.*@
                <!-- Modal Footer -->
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
                <button id="btnPrint2" type="button" class="btn btn-default">Imprimir</button>
            </div>

        </div>
    </div>
</div>

</div>
@section js{
    <script src="~/Content/TesteEncaminhamento.js"></script>
}
