<head>
    <link rel="stylesheet" href="~/Scripts/Encaminhamento/TesteEncaminhamento.css" />
</head>

<div id="postoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <!-- Modal Content: begins -->
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">

                <div class="col-7">

                    <h4 class="modal-title" id="gridSystemModalLabel">Policlínica</h4>
                </div>

                <div class="col-5">
                    <div class="container body-content">
                        <button id="posto-encaminhar-frances">
                            <span class="mt-5 flag-icon flag-icon-fr"></span> Francês
                        </button>
                        <button id="posto-encaminhar-criolo">
                            <span class="mt-5 flag-icon flag-icon-ht"></span> Crioulo
                        </button>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>
            </div>
            <div id="printThis2">
                <!-- Modal Body -->
                <div class="modal-body printSection">
                    <div class="row">
                        <div class="col-12">
                            <div class="body-message">
                                <h3 class="text-dark">Encaminhamento<span id="encaminhamento-posto"></span></h3>
                                <span id="posto-encaminhar-texto-redirecionar" class="font-weight-bold"></span>
                                <div class="row mt-10">
                                    <div class="col-6">
                                        Endereço
                                    </div>
                                    <div class="col-6">
                                        Telefone
                                    </div>
                                </div>
                                <!--tradução-->
                                <div class="row">
                                    <div class="col-6">
                                        <span id="posto-endereco" class="text-danger font-weight-bold"></span>
                                    </div>
                                    <div class="col-6">
                                        <span id="posto-telefone" class="text-danger font-weight-bold"></span>
                                    </div>
                                </div>
                                <!--fim tradução-->
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="text" required="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="text" required="" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button id="btnPrint2" type="button" class="btn btn-info float-right">Imprimir</button>
                @*<button class="btn float-right" data-dismiss="modal" aria-hidden="true">Fechar</button>*@
            </div>
        </div>
    </div>
</div>

@section js{
    <script src="~/Scripts/Encaminhamento/TesteEncaminhamento.js"></script>
}
