
@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastre sua Cidade</h2>

<form action="/cidade/cadastro" method="post">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <label for="campo-nome">Nome da Cidade</label>
                <input class="form-control" type="text" name="nome" id="campo-nome" required="" />
            </div>
        </div>
    </div>

    <div class="col-12">
        <label for="campo-estado">Estado</label>
        <select name="estado" id="campo-estado" required="" class="form-control">
            <option selected="" disabled="disabled">Selecione um estado</option>
            @*@foreach (Model.Estado Estado in ViewBag.Estados)
            {
                <option value="@Estado.Id">@Estado.Nome</option>

            }*@
        </select>
    </div>

    <button class="btn btn-success float-left mt-3" type="submit"><i class="fa fa-save"></i> Salvar</button>
</form>
