
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-6">
        <h2 class="display-4"> Lista de Cidades</h2>
    </div>
    <div class="col-6">
        <a class="btn btn-dark float-right mt-30" href="/cidade/cadastro"><i class="fa fa-plus"></i>Nova Cidade</a>
    </div>
</div>
<table class="table table-primary table-hover table-striped text-dark" id="cidades-index">
    <thead class="bg-dark">
        <tr>
            <td hidden>Id</td>
            <td>Cidade</td>
            <td>Estado</td>
            <td width="200px">Ação</td>
        </tr>
    </thead>
    <tbody class="font-weight-bold">
        @foreach (Model.Cidade cidade in ViewBag.Cidades)
        {
            <tr>
                <td hidden>@cidade.Id</td>
                <td>@cidade.Nome</td>
                <td>@cidade.Estado.Nome</td>
                <td>
                    <a class="btn btn-info" href="/cidade/alterar?id=@cidade.Id"><i class="fa fa-edit"></i> Alterar</a>
                    <a class="btn btn-danger" href="/cidade/apagar?id=@cidade.Id"><i class="fa fa-trash"></i> Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@*@section js {
        <script src="~/Scripts/Pessoa/pessoa.js"></script>
    }*@