
@{
    ViewBag.Title = "Alterar";
}

<div class="row">
    <div class="col-5">
        <form action="/partecorpo/update" method="post">
            <input type="hidden" name="id" id="id" value="@ViewBag.ParteCorpo.Id" />
            <div class="form-group">
                <label for="partecorpo-nome">Nome</label>
                <textarea class="form-control" id="partecorpo-nome" name="nome">@ViewBag.ParteCorpo.Nome</textarea>
            </div>
            <div class="form-group">
                <label for="partecorpo-traducaocriolo">Tradução Crioulo</label>
                <textarea class="form-control" id="partecorpo-traducaocriolo" name="traducaocriolo">@ViewBag.ParteCorpo.TraducaoCriolo</textarea>
            </div>
            <div class="form-group">
                <label for="partecorpo-traducaofrances">Tradução Francês</label>
                <textarea class="form-control" id="partecorpo-traducaofrances" name="traducaofrances">@ViewBag.ParteCorpo.TraducaoFrances</textarea>
            </div>
            <button type="submit" >Salvar</button>
        </form>
    </div>
</div>