
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

<form action="/partecorpo/inserir" method="post">
    <div>
        <label for="campo-nome" >Nome</label>
        <input type="text" maxlength="100" name="nome" id="campo-nome" />
    </div>

    <button type="submit">Salvar</button>









</form>