
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

<form action="/partecorpo/inserir" method="post">
    <div>
        <label for="campo-nome">Nome</label>
        <input type="text" maxlength="100" name="nome" id="campo-nome" />
    </div>

    <div>
        <label for="campo-criolo">Tradução Criolo</label>
        <input type="text" maxlength="100" name="traducaocriolo" id="campo-criolo" />
    </div>
    <div>
        <label for="campo-frances">Francês</label>
        <input type="text" maxlength="100" name="traducaofrances" id="campo-frances" />
    </div>

    <button type="submit">Salvar</button>









</form>