
@{
    ViewBag.Title = "Cadastrar";
}
<h2 class="h2">Cadastro de Partes do Corpo</h2>
<form action="/partecorpo/inserir" method="post">
        <div>
            <label class="text-dark mt-10" for="campo-nome">Nome<a class="text-danger">*</a></label>
            <input type="text" name="nome" id="campo-nome" class="form-control border-info text-dark font-weight-bold" required="" />
        </div>

        @*<div>
            <label class="text-dark mt-20" for="campo-criolo">Tradução em Crioulo<a class="text-danger">*</a></label>
            <input type="text" name="traducaocriolo" id="campo-criolo"class="form-control border-info text-dark font-weight-bold" required="" />
        </div>
        <div>
            <label class="text-dark mt-20" for="campo-frances">Tradução em Francês<a class="text-danger">*</a></label>
            <input type="text" name="traducaofrances" id="campo-frances" class="form-control border-info text-dark font-weight-bold" required=""/>
        </div>*@

    <button class="btn btn-success mt-25" type="submit"><i class="fa fa-save"></i> Salvar</button>
</form>