
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Scripts/Corpos/CorpoMasculino.css"/>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/Content/Imagens/Logo Lavi Preto.png" />
    <link rel="stylesheet" href="~/Scripts/Tema/global/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Scripts/Tema/global/fonts/font-awesome/font-awesome.min.css" />
</head>
<body class="container">

    <h2 class="text-center"><i class="fa fa-warning"></i>Selecione as partes do corpo que você esta sentindo dor</h2>
    <div class="text-center">
        <div class="content">

            <a  href="#"><img class="img-fluid" alt="Imagem responsiva" height="600" src="~/Content/Imagens/Corpos/parte corpo humano.png" width="600"></a>

            <a class="botao01" >Pulmão</a>

        </div>
        @*<div class="col-6">
            </div>
            <div class="col-6">
            </div>*@

    </div>

    <script src="~/Scripts/Tema/global/vendor/bootstrap/bootstrap.min.js"></script>
    <script href="~/Scripts/Tema/global/vendor/jquery/jquery.min.js"></script>
</body>
</html>

