
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-8">
        <h2 class="h2">Lista de Parte do Corpo</h2>
    </div>
    <div class="col-4">
        <a href="/partecorpo/cadastrar" class="btn btn-dark float-right mt-30"><i class="fa fa-plus"></i> Nova Parte Corpo</a>
    </div>
</div>



<table class="table table-primary table-hover table-bordered text-dark">
    <thead class="bg-dark">
        <tr>
            <td hidden>Código</td>
            <td>Nome</td>
            <td width="220px">Ação</td>
        </tr>
    </thead>
    <tbody class="font-weight-bold">
        @foreach (Model.ParteCorpo parteCorpo in ViewBag.PartesCorpo)
        {
            <tr>
                <td hidden>@parteCorpo.Id</td>
                <td>@parteCorpo.Nome</td>
                <td>
                    <a class="btn btn-info ml-10" href="/partecorpo/alterar?id=@parteCorpo.Id"><i class="fa fa-edit"></i> Editar</a>
                    <a class="btn btn-danger ml-10" href="/partecorpo/apagar?id=@parteCorpo.Id"><i class="fa fa-trash"></i> Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

