<head>
    <link rel="stylesheet" href="~/Scripts/Encaminhamento/TesteEncaminhamento.css" />
</head>
@*'<a class="btn btn-info" href="/atendimentoespecial/InserirAtendimento?idPaciente=' + row.Id + '"><i class="fa fa-user"></i></a>'*@

<div id="documentoFormularioModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <!-- Modal Content: begins -->
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">

                <div class="col-5">
                    <h4 class="modal-title" id="gridSystemModalLabel">Documento </h4>
                </div>
            </div>
            <div id="printThis4">
                <!-- Modal Body -->
                <div class="modal-body printSection">
                    <div class="row">
                        <div class="col-12">
                            <div class="body-message">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="body-message">
                                            <h3 class="text-dark">Paciente</h3>

                                            <div>
                                                <div class="row mt-10">
                                                    <div class="col-6">
                                                        Cidade
                                                    </div>
                                                    <div class="col-6">
                                                        Posto
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <input id="campo-cidade" name="cidade" type="text" required="" class="form-control" />
                                                    </div>
                                                    <div class="col-6">
                                                        <input id="campo-posto" name="posto" type="text" required="" class="form-control" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="row mt-10">
                                                        <div class="col-6">
                                                            Nome
                                                        </div>
                                                        <div class="col-6">
                                                            Língua
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <input id="campo-nome" name="nome" type="text" required="" class="form-control" />
                                                    </div>
                                                    <div class="col">
                                                        <input id="campo-lingua" name="lingua" type="text" required="" class="form-control" />
                                                    </div>
                                                </div>

                                                <div class="row mt-10">
                                                    <div class="col-6">
                                                        Idade
                                                    </div>
                                                    <div class="col-6">
                                                        Sexo
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <input id="campo-idade" name="idade" type="text" required="" class="form-control" />
                                                    </div>
                                                    <div class="col">
                                                        <input id="campo-sexo" name="sexo" type="text" required="" class="form-control" />
                                                    </div>
                                                </div>

                                                <div class="row mt-10">
                                                    <div class="col-6">
                                                        CPF
                                                    </div>
                                                    <div class="col-6">
                                                        RNE
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <input id="campo-cpf" name="cpf" type="text" required="" class="form-control" />
                                                    </div>
                                                    <div class="col">
                                                        <input id="campo-rne" name="rne" type="text" required="" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row mt-10">
                                                    <div class="col-6">
                                                        CEP
                                                    </div>
                                                    <div class="col-6">
                                                        Endereço
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <input id="campo-cep" name="cep" type="text" required="" class="form-control" />
                                                    </div>
                                                    <div class="col">
                                                        <input id="campo-endereco" name="endereco" type="text" required="" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row mt-10">
                                                    <div class="col-6">
                                                        Passaporte
                                                    </div>
                                                    <div class="col-6">
                                                        Telefone
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <input id="campo-passaporte" name="passaporte" type="text" required="" class="form-control" />
                                                    </div>
                                                    <div class="col">
                                                        <input id="campo-telefone" name="telefone" type="text" required="" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row mt-10">
                                                    <div class="col-6">
                                                        Pressão
                                                    </div>
                                                    <div class="col-6">
                                                        Peso
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <input id="campo-pressao" name="pressao" type="text" required="" class="form-control" />
                                                    </div>
                                                    <div class="col">
                                                        <input id="campo-peso" name="peso" type="text" required="" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row mt-10">
                                                    <div class="col-6">
                                                        Altura
                                                    </div>
                                                    <div class="col-6">
                                                        Temperatura
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <input id="campo-altura" name="altura" type="text" required="" class="form-control" />
                                                    </div>
                                                    <div class="col">
                                                        <input id="campo-temperatura" name="temperatura" type="text" required="" class="form-control" />
                                                    </div>
                                                </div>
                                                <table id="tabeladoc" class="mt-4 table table-striped">
                                                    <thead class="bg-dark text-white">
                                                        <tr>
                                                            <td>Sintomas</td>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Footer -->
                </div>
            </div>
            <div class="modal-footer col-12">
                <button id="btnPrint4" type="button" class="btn btn-info float-right">Imprimir</button>
                @*<button class="btn float-right" data-dismiss="modal" aria-hidden="true">Fechar</button>*@
            </div>
        </div>
    </div>
</div>
@section js{
    <script src="~/Scripts/Paciente/Imprimir.js"></script>
}



