
@{
    ViewBag.Title = "Documento";
}

<h2>Documentos</h2>
<head>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <select name="idPaciente" id="campo-paciente" required="" class="form-control border-info">
        <option selected="" disabled="disabled">Selecione um paciente</option>
        @foreach (Model.Paciente Paciente in ViewBag.Pacientes)
        {
            <option value="@Paciente.Id">@Paciente.Nome</option>

        }
    </select>
    <div class="container">
        <div class="row pl-3">
            <label for="campo-nome" class="font-weight-bold">Digite o nome do paciente</label>
        </div>
        <div class="row pl-3">
            <input id="campo-nome" name="nome" class="form-control border-info col-11" type="text" />
        </div>
    </div>
</body>