
@{
    ViewBag.Title = "Index";
}

<h2>Lista dos Pacientes</h2>

<a class="btn btn-primary   float-right mb-3"
   href="/paciente/cadastro"><i class="fa fa-plus"></i> Novo Paciente</a>

<table class="table table-primary table-striped table-bordered table-hover" id="pacientes-index">
    <thead class="bg-dark">
        <tr>
            <td hidden>Id</td>
            <td>Paciente</td>
            <td>Posto</td>
            <td width="200px">Ação</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Model.Paciente paciente in ViewBag.Pacientes)
        {
            <tr>
                <td hidden>@paciente.Id</td>
                <td>@paciente.Nome</td>
                <td>@paciente.Posto.Nome</td>
                <td>
                    <a class="btn btn-primary" href="/paciente/alterar?id=@paciente.Id"><i class="fa fa-edit"></i> Alterar</a>
                    <a class="btn btn-danger" href="/paciente/apagar?id=@paciente.Id"><i class="fa fa-trash"></i> Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
