
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-9">
        <h2>Lista de Pacientes</h2>
    </div>
    <div class="col-3">
        <a href="/paciente/cadastro" class="btn btn-dark float-right mt-30"><i class="fa fa-plus"></i> Novo Paciente</a>
    </div>
</div>

<table class="table table-primary table-striped table-bordered table-hover" id="pacientes-index">
    <thead class="bg-dark">
        <tr>
            <td hidden>Id</td>
            <td>Paciente</td>
            <td>Posto</td>
            <td width="220px">Ação</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Model.Paciente paciente in ViewBag.Pacientes)
        {
            if (paciente.Lingua != 0)
            {
                <tr class="bg-indigo-500">
                    <td hidden>@paciente.Id</td>
                    <td>@paciente.Nome</td>
                    <td>@paciente.Posto.Nome</td>
                    <td>
                        <a class="btn btn-info ml-10" href="/paciente/alterar?id=@paciente.Id"><i class="fa fa-edit"></i> Alterar</a>
                        <a class="btn btn-danger ml-10" href="/paciente/apagar?id=@paciente.Id"><i class="fa fa-trash"></i> Apagar</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
