
@{
    ViewBag.Title = "Cadastrar";
}

<h2 class="display-4">Cadastro de Posto</h2>
<form action="/posto/inserir" method="post">
    <div class="row">
        <div class="col-12">
            <label class="font-weight-bold" for="campo-nome">Nome do Posto</label>
            <input type="text" name="nome" id="campo-nome" class="form-control border-info" />

        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label class="font-weight-bold" for="campo-cep">CEP</label>
            <input type="text" name="cep" id="campo-cep" class="form-control border-info" />
        </div>
        <div class="col-8">
            <label class="font-weight-bold" for="campo-cidade">Cidade</label>
            <select name="idCidade" id="campo-cidade" class="form-control border-info">
                <option selected="" disabled="disabled">Selecione uma cidade</option>
                @foreach (Model.Cidade Cidade in ViewBag.Cidades)
                {
                    <option value="@Cidade.Id">@Cidade.Nome</option>

                }
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-success mt-15">Salvar</button>
</form>
