
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-6">
        <h2 class="display-4">Postos</h2>
    </div>
    <div class="col-6">
        <a class="btn btn-dark float-right" href="/posto/cadastrar"><i class="fas fa-plus"></i>Novo Posto</a>
    </div>
</div>
<table class="table table-primary table-striped table-hover text-dark" id="postos-index">
    <thead class="bg-dark">
        <tr>
            <td>Nome do Posto</td>
            <td>CEP</td>
            <td>Cidade</td>
            <td>Ação</td>
        </tr>
    </thead>
    <tbody class="font-weight-bold">
        @foreach (Model.Posto posto in ViewBag.Postos)
        {
            <tr>
                <td>@posto.Nome</td>
                <td>@posto.Cep</td>
                <td>@posto.Cidade.Nome</td>
                <td>
                    <a class="btn btn-primary" href="/posto/alterar?id=@posto.Id">Editar</a>
                    <a class="btn btn-danger" href="/posto/apagar?id=@posto.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
