
@{
    ViewBag.Title = "Index";
}

<h2>Postos</h2>

<a class="btn btn-outline-secondary float-right" style="margin-bottom: 5px" href="/posto/cadastrar"><i class="fas fa-plus"></i>Novo</a>
<table class="table table-striped table-bordered table-hover" id="postos-index">
    <thead>
        <tr>
            <th>Nome do Posto</th>
            <th>CEP</th>
            <th>Cidade</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Model.Posto posto in ViewBag.Postos)
        {
            <tr>
                <td>@posto.Nome</td>
                <td>@posto.Cep</td>
                <td>@posto.Cidade.Nome</td>
                <td>
                    <a class="btn btn-outline-primary float-right" href="/posto/alterar?id=@posto.Id">Editar</a>
                    <a class="btn btn-outline-danger float-right" style="margin-right: 5px" href="/posto/apagar?id=@posto.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>   
</table>