
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-6">
        <h2 class="h2">Postos</h2>
    </div>
    <div class="col-6">
        <a class="btn btn-dark float-right mt-30" href="/posto/cadastrar"><i class="fa fa-plus"></i> Novo Posto</a>
    </div>
</div>
<table class="table table-primary table-bordered table-hover text-dark" id="postos-index">
    <thead class="bg-dark">
        <tr>
            <td>Nome do Posto</td>
            <td>Endereco</td>
            <td>Cidade</td>
            <td width="220px">Ação</td>
        </tr>
    </thead>
    <tbody class="font-weight-bold">
        @foreach (Model.Posto posto in ViewBag.Postos)
        {
            <tr>
                <td>@posto.Nome</td>
                <td>@posto.Endereco</td>
                <td>@posto.Cidade.Nome</td>
                <td>
                    <a class="btn btn-info ml-10" href="/posto/alterar?id=@posto.Id"><i class="fa fa-edit"></i> Editar</a>
                    <a class="btn btn-danger ml-10" href="/posto/apagar?id=@posto.Id"><i class="fa fa-trash"></i> Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
