
html, body {
  height: 100%;
}

body {
  padding-top: $site-navbar-height;
}

.site-menubar {

  position: fixed;
  top: $site-navbar-height;
  z-index: $zindex-menubar;
  width: $site-menubar-width;
  height: 100%;
  height: -webkit-calc(100% - #{$site-navbar-height});
  height: calc(100% - #{$site-navbar-height});
  font-family: $site-menubar-font-family;
  color: $site-menubar-color;
  background: $site-menubar-bg;
  box-shadow: $site-menubar-shadow;
  transition: width .25s, opacity .25s, transform .25s;

  ul {
    padding: 0;

    margin: 0;
    list-style: none;
  }

  a {
    outline: none;
    &:hover, &:focus {
      text-decoration: none;
    }
  }

  .scrollable-inverse.scrollable .scrollable-bar-handle {
    background: rgba($gray, (60/100));;
  }

  &.site-menubar-dark {
    background: $site-menubar-dark-bg;
    box-shadow: $site-menubar-dark-shadow;
  }
}

.site-menubar:not(.mm-menu) {
  .site-menu-sub {
    display: none;
  }

  > .site-menu > .site-menu-item:hover > .site-menu-sub {
    display: block;
  }
}

.site-menubar-footer {
  position: fixed;
  bottom: 0;
  z-index: $zindex-menubar;
  display: block;
  height: $site-menubar-footer-height;
  background-color: $site-menubar-footer-bg;
  transition: width .25s;

  > a {
    position: relative;
    float: left;
    width: (100% / 3);
    height: $site-menubar-footer-height;
    padding: 23px 0;
    font-size: 14px;
    color: $site-menubar-footer-color;
    text-align: center;
    background-color: $site-menubar-footer-link-bg;
    transition: left .25s, width .25s;

    &:hover,
    &:focus {
      background-color: $site-menubar-footer-link-hover-bg;
    }
  }
}

.site-menubar-dark {
  .site-menubar-footer {
    background-color: $site-menubar-dark-footer-bg;

    > a {
      background-color: $site-menubar-dark-footer-link-bg;
      &:hover,
      &:focus {
        background-color: $site-menubar-dark-footer-link-hover-bg;
      }
    }
  }
}
