
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (Session["usuarioLogadoCargo"].ToString() == "Medico")
{
    <h1>@Session["usuarioLogadoCargo"].ToString()</h1>
}
else if (Session["usuarioLogadoCargo"].ToString() == "Atendente")
{
    <h1>Ola pessoal</h1>
}
