
@{
    ViewBag.Title = "SelecionarIdioma";
}



<form action="" method="post">

    <h2 class="display-4"><i class="fa fa-warning"></i> Selecione uma linguagem</h2>
    <div class="row">

        <div class="col-6">
            <a href="/atendimentoespecial/partecorpoespecial?lang=criolo" class="btn btn-primary"><input type="image" src="~/Content/Imagens/icones/favicon.ico" /> Criolo</a>
        </div>

        <div class="col-6">
            <a href="/atendimentoespecial/partecorpoespecial?lang=fr-FR" class="btn btn-primary"><span class="icon"><input type="image" src="~/Content/Imagens/icones/favicon.ico" /> </span> Francês</a>
        </div>

    </div>
</form>