
.layout-full {
  height: 100%;

  .page {
    max-width: none;
    height: 100%;
    padding: 0;
    margin: 0 !important;
    background-color: transparent;
  }

  > .loader {
    margin-left: 0 !important;
  }
}

body.layout-full {
  padding-top: 0;
}
