
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Lavi - Health System Prototype </title>
    <link rel="shortcut icon" href="~/Content/Imagens/Logo Lavi.png">
    <link rel="stylesheet" href="~/Scripts/Tema/global/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Scripts/Tema/global/fonts/font-awesome/font-awesome.min.css" />
</head>
<body>
    <nav>
        <div class="bg-white d-flex p-3 px-md-4" style="margin-right:50px">
            <div class="col-12 text-center">
                <img src="~/Content/Imagens/Logo Lavi  Preto.png" width="50" height="50" style="opacity:1"/>
            </div>
            <div>
                <a href="/login" class="btn btn-outline-dark mr-4 float-right">Login</a>
            </div>

        </div>
    </nav>

    <div class="row" style="background-image: url(../../Content/Imagens/Home/haiti-kids.jpg);background-size:100%;height:500px;">

        <div class="col-4 text-center" style="background-color:rgba(0, 0, 0, 0.55)">
            <br />
            <br />
            <br />
            <br />
            <img src="~/Content/Imagens/Logo Lavi.png" />
            <p class="text-white lead ml-4 mt-4">Welcome to Lavi</p>
        </div>
        <div class="col-4"></div>
        <div class="col-4"></div>

    </div>

    <div class="row mt-4">

        <div class="col-7 pl-5 pr-5 p-5">
            <h1 class="diplay-4 font-weight-bold">How did we start?</h1>
            <br />
            <h2>The Problem</h2>
            <br />
            <p class="lead text-justify">
                The inadequate communication within the health professinals and the haitian community has been a problem in Gaspar and nearby cities. The main problem has been the missing knowledge on portuguese and criolo of both parts. As there's no proposal that provides a better situation, turning the medical service and diagnose unavailable for this select group of people. This project will be a continuity of the project “Family Health Strategy: health for Haitians”, developed by the students from the Santa Catarina Federal Institute (campus Gaspar), in 2018.
            </p>

        </div>
        <div class="col-5"
             style="background: url('../../Content/Imagens/Home/medico.jpg') center right no-repeat ;
            background-size: cover;"></div>
    </div>

    <div class="row mt-4">

        <div class="col-5"
             style="background: url('../../Content/Imagens/Home/PessoasNaMesa.jpg') center right no-repeat ;
            background-size: cover;"></div>
        <div class="col-7 pl-5 pr-5 p-5">
            <h1 class="diplay-4 font-weight-bold">​What is Lavi?</h1>
            <br />
            <p class="lead text-justify">
                The ​Lavi is a web system that provides an interaction between healthcare professionals and foreign (Haitians) patients, that don’t speak the same language, to execute a first service to the patient, whom will contain the basic health necessities and turn the life quality of a fragil social group better.
            </p>

        </div>
    </div>
    <br />
    <div class="row">
        <div class="mt-5 col-12 text-center">
            <h2 class="display-2">Our team</h2>
            <p>Meet us</p>
        </div>
    </div>

    <div class="row mt-5 ml-5 mr-5">

        <div class="col-4">
            <div class="card text-center border-white" style="width: 15.75rem;">
                <img src="~/Content/Imagens/Home/Team/Heloisa.png" class="card-img-top rounded-circle" style=" width:250px; height:250px">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">
                        Heloisa da Silva Mengisztki
                    </h5>
                    <a href="https://www.linkedin.com/in/heloisa-da-silva-mengisztki-17836517b/" class="btn btn-outline-dark">LinkedIn <i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-center border-white" style="width: 15.75rem;">
                <img src="~/Content/Imagens/Home/Team/Lucas.png" class="card-img-top rounded-circle" style=" width:250px; height:250px">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">
                        Lucas Sembarski Higert
                    </h5>
                    <a href="https://www.linkedin.com/in/lucas-sembarski-higert-84b964142/" class="btn btn-outline-dark">LinkedIn <i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-center border-white" style="width: 15.75rem;">
                <img src="~/Content/Imagens/Home/Team/Elian.png" class="card-img-top rounded-circle" style=" width:250px; height:250px">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Elian Roberto Nasatto</h5>
                    <a href="https://www.linkedin.com/in/elian-nasatto-b7698260/" class="btn btn-outline-dark">LinkedIn <i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 ml-5 mr-5 text-center">

        <div class="col-4 ml-auto">
            <div class="card border-white" style="width: 15.75rem;">
                <img src="~/Content/Imagens/Home/Team/Ariadne.png" class="card-img-top rounded-circle" style=" width:250px; height:250px">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">
                        Ariadne Fabian
                    </h5>
                    <a href="https://www.linkedin.com/in/ariadne-fabian-442949172/" class="btn btn-outline-dark">LinkedIn <i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>

        <div class="col-4 mr-auto ml-0">
            <div class="card border-white" style="width: 15.75rem;">
                <img src="~/Content/Imagens/Home/Team/Mirian.png" class="card-img-top rounded-circle" style=" width:250px; height:250px">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">
                        Mirian Weber
                    </h5>
                    <a href="https://www.linkedin.com/in/mirian-weber-69221b135/" class="btn btn-outline-dark">LinkedIn <i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>

    </div>
    <br />
    <br />
    <br />
    <div>
        <h5 class="float-right mr-4"><i class="fa-envelope-open"></i> Contact us: laviprojeto@gmail.com</h5>
    </div>

    <script src="~/Scripts/Tema/global/vendor/bootstrap/bootstrap.min.js"></script>
    <script href="~/Scripts/Tema/global/vendor/jquery/jquery.min.js"></script>

</body>
</html>
