
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="shortcut icon" href="~/Content/Imagens/Logo Lavi.png">
    <!--<link rel="stylesheet" href="~/Scripts/Tema/global/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/Scripts/Tema/global/fonts/font-awesome/font-awesome.min.css" />

    <link rel="stylesheet" href="~/Content/materialize/css/materialize.css">

</head>
<body>
    <!--<script src="~/Scripts/Tema/global/vendor/bootstrap/bootstrap.min.js"></script>-->
    <script href="~/Scripts/Tema/global/vendor/jquery/"></script>
    <script href=""

    <script src="~/Scripts/materialize/materialize.js"></script>

</body>
</html>
