
@{
    ViewBag.Title = "Cadastrar";
}

<h2 class="h2">Cadastro de Sintomas</h2>

<form action="/sintoma/inserir" method="post">

    <div class="row">
        <div class="col-12">
            <div>
                <label class="font-weight-bold text-black-50" for="campo-partecorpo">Partes do Corpo<a class="text-danger">*</a></label>
                <select name="idParteCorpo" id="campo-partecorpo" class="form-control border-info text-dark">
                    <option disabled="disabled" selected="selected">Selecione uma parte</option>
                    @foreach (Model.ParteCorpo partecorpo in ViewBag.PartesCorpo)
                    {
                        <option value="@partecorpo.Id">@partecorpo.Nome</option>
                    }
                </select>
            </div>
        </div>
    </div>



    <div class="row mt-15">
        <div class="col-12">
                <label class="font-weight-bold" for="campo-nome">Sintoma<a class="text-danger">*</a></label>
                <input type="text" maxlength="100" name="nome" id="campo-nome" class="form-control border-info" required="" />
        </div>
    </div>


    <button class="btn btn-success float-right mt-15" type="submit"><i class="fa fa-save"></i> Salvar</button>
</form>