.site-menu {
  // overflow-y: hidden;
  padding-bottom: 20px;
  overflow: visible;
  font-size: 14px;

  &-item > a {
    white-space: nowrap;
    cursor: pointer;
  }

  &-icon {

    @include icon-fixed-width();
    display: block !important;
    margin: 0 auto;
    font-size: 24px;
  }

  &-title {

    @include text-truncate();
    vertical-align: middle;
  }

  &-category {
    height: 2px;
    margin: 0;
    font: "0/0" a;
    color: transparent;
    text-shadow: none;
    background: $site-menubar-unfold-divider-bg;

    &:first-child {
      visibility: hidden;
    }
  }

  &-arrow {

    @include make-icon();
    font-family: "#{$wb-font-family}";

    transition: transform .15s;
    &::before {
      content: "#{$wb-var-chevron-right-mini}";
    }
  }

  &-arrow, &-badge, &-label {
    position: absolute;
    right: $site-menu-padding-horizontal;
    display: inline-block;
    vertical-align: middle;
  }

  .badge, .label {
    padding: 2px 5px 3px;
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
  }

  &-item {
    position: relative;
    white-space: nowrap;

    a {
      display: block;
      color: $site-menubar-color;
    }

    &.is-hidden {
      opacity: 0;
    }

    &.is-shown {
      opacity: 1;
    }
  }

  .site-menu-sub {
    padding: 5px 0;
    margin: 0;
    font-size: 14px;
    background: $site-menu-sub-bg;

    .site-menu-sub {
      display: none;
    }

    .site-menu-item {
      line-height: $site-menu-sub-height;
      color: $site-menu-sub-color;
      background: transparent;

      &.has-sub {
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;

        &.open {
          border-top-color: $site-menu-has-sub-border-color;
          border-bottom-color: $site-menu-has-sub-border-color;
        }
      }

      > a {
        padding: 0 $site-menu-padding-horizontal;
      }

      &.hover {
        > a {
          color: $site-menu-sub-hover-color;
          background-color: $site-menu-sub-hover-bg;
        }
      }

      &.active {
        background: $site-menu-sub-active-bg;

        > a {
          color: $site-menu-sub-active-color;
        }

        &.hover {
          > a {
            background-color: transparent;
          }
        }
      }

      &.open {
        background: $site-menu-sub-open-bg;

        > a {
          color: $site-menu-sub-open-color;

          .site-menu-arrow {
            @include transform(rotate(90deg));
          }
        }

        > .site-menu-sub {
          display: block;
        }

        &.hover {
          > a {
            background-color: transparent;
          }
        }
      }

      &:not(.open) {
        > a {
          .site-menu-arrow {
            @include transform(none);
          }
        }

        > .site-menu-sub {
          display: none;
        }
      }
    }
  }

  > .site-menu-item {
    padding: 0;
    font-size: 16px;

    > a {
      display: block;
      padding: 12px;
      margin: 0;
      text-align: center;

      text-decoration: none;
      white-space: nowrap;
      cursor: pointer;
      border: 0;

      .site-menu-badge,
      .site-menu-label {
        top: 10px;
        left: 50%;
      }
    }

    > .site-menu-sub {
      // transition: visibility 0.25s, opacity 0.25s;
      position: absolute;
      top: 0;
      left: $site-menubar-unfold-width;
      width: $site-menubar-unfold-sub-width;
      overflow-y: auto;
      visibility: hidden;
      background: $site-menubar-unfold-sub-bg;
      opacity: 0;

      &-up {
        top: auto;
        bottom: 0;
      }

      .site-menu-item {
        > a {
          padding: 0 30px;
        }
      }

      .site-menu-icon {
        margin-right: .5em;
      }
    }

    &.open {
      background: $site-menu-top-open-bg;

      > a {
        color: $site-menu-top-open-color;
        background: $site-menu-top-open-head-bg;
      }

      &.hover {
        > a {
          background: $site-menu-top-open-head-bg;
        }
      }
    }

    &.hover {
      // color: $site-menu-top-hover-color;

      > a {
        color: $site-menu-top-hover-color;
        background-color: $site-menu-top-hover-bg;
      }

      > .site-menu-sub {
        visibility: visible;
        opacity: 1;
      }
    }

    &.active {
      background: $site-menu-top-active-bg;

      border-top: none;
      border-bottom: none;

      > a {
        color: $site-menu-top-active-color;
        background: $site-menu-top-active-head-bg;
      }

      &.hover {
        > a {
          background: $site-menu-top-active-head-bg;
        }
      }
    }
  }
}

// light
// =====
.site-menubar-light {
  .site-menu {
    &-item {
      a {
        color: $site-menubar-light-color;
      }
      &.hover {
        > a {
          background: $site-menu-light-top-open-head-bg;
        }
      }
    }

    &-category {
      background: $site-menubar-light-unfold-divider-bg;
    }

    > .site-menu-item {
      &.open {
        background: $site-menu-light-top-open-bg;
        > a {
          color: $site-menu-light-sub-open-color;
        }
      }

      &.hover {
        background-color: $site-menu-light-top-hover-bg;
        > a {
          color: $site-menu-light-top-hover-color;
        }
      }

      &.active {
        background: $site-menu-light-top-active-bg;
        > a {
          color: $site-menu-light-top-active-color;
        }
      }
    }
    .site-menu-sub {
      .site-menu-item {
        &.open {
          background: $site-menu-light-sub-open-bg;
          > a {
            color: $site-menu-light-sub-open-color;
          }
        }

        &.hover {
          background-color: $site-menu-light-sub-active-bg;
          > a {
            color: $site-menu-light-sub-hover-color;
          }
          &.open {
            background-color: $site-menu-light-sub-open-bg;
          }
        }

        &.active {
          background: $site-menu-light-sub-active-bg;
          > a {
            color: $site-menu-light-sub-active-color;
          }
        }
      }
    }

    > .site-menu-item {
      > .site-menu-sub {
        // box-shadow: $site-menubar-light-unfold-box-shadow;
        background: $site-menubar-light-unfold-sub-bg;
        border: 1px solid $site-menubar-light-unfold-sub-border-color;
      }
    }
  }
}

// for no-js
// =========
.css-menubar {
  .site-menu {
    > .site-menu-item {
      > a {
        .site-menu-badge,
        .site-menu-label {
          top: 8px;
          right: 30px;
        }
      }
    }

    &-item {
      &:hover {
        > .site-menu-sub {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &-item.has-sub {
      > .site-menu-sub {
        display: none !important;
      }
      &:hover {
        > .site-menu-sub {
          position: absolute;
          top: 0;
          left: 100%;
          display: block !important;
          width: $site-menubar-unfold-sub-width;
          overflow: visible;
          background: $site-menubar-unfold-sub-bg;
        }
      }
    }

    // &-sub &-item:hover >a &-arrow {
    //   transform: rotate(0deg) !important;
    // }
  }
}

// menubar status
// ==============

// .js-menubar {
.site-menubar-unfold {
  .page, .site-footer {
    transition: transform .25s, margin .25s;
  }

  [data-toggle="menubar"] {
    .hamburger-arrow-left {
      @include hamburger-arrow-left();
    }
  }
}
// }

.site-menubar-hide {
  .page, .site-footer {
    margin-left: 0;
    transition: transform .25s, margin .5s;
  }
}

.site-menubar-changing {
  overflow: hidden;

  .site-menubar {
    overflow: hidden;
  }
}

.site-menubar {
  .site-menubar-hide &,
  .site-menubar-unfold & {
    transition: transform .25s, top .35s, height .35s;
  }

  .site-menubar-unfold & {
    @include transform(translate3d(0, 0, 0));
    -ms-transform: translate(0, 0);
  }

  .site-menubar-hide & {
    @include transform(translate3d(-$site-menubar-unfold-width, 0, 0));
    -ms-transform: translate(-$site-menubar-unfold-width, 0);
  }
}

@include media-breakpoint-down(sm) {
  //.js-menubar {
  .site-menubar-unfold {
    .page, .site-footer {
      margin-left: 0;
    }
  }
  // }
}
