
html, body {
  height: 100%;
}

body {
  padding-top: $site-navbar-height;
}

// relative-part
.page, .site-footer {
  @include media-breakpoint-down(sm) {
    margin-left: auto;
  }
  margin-left: $site-menubar-unfold-width;
}

.site-navbar {
  .navbar-header {
    @include media-breakpoint-up(md) {
      width: $site-menubar-unfold-width;
    }
  }

  .navbar-container {
    @include media-breakpoint-up(md) {
      // margin-left: $site-menubar-unfold-width;
      margin-left: 0;// for navbar fixed
      
      // .dropdown-mega >.dropdown-menu {
      //   margin-left: $site-menubar-unfold-width;
      // }
    }
  }
}

.site-menubar {

  position: fixed;
  top: $site-navbar-height;
  z-index: $zindex-menubar;
  width: $site-menubar-unfold-width;

  height: 100%;
  height: -webkit-calc(100% - #{$site-navbar-height});
  height: calc(100% - #{$site-navbar-height});
  font-family: $site-menubar-font-family;
  color: $site-menubar-color;

  background: $site-menubar-bg;
  box-shadow: $site-menubar-shadow;

  &-body {
    height: 100%;
  }

  ul {
    padding: 0;

    margin: 0;
    list-style: none;
  }

  a {
    outline: none;
    &:hover, &:focus {
      text-decoration: none;
    }
  }

  &.site-menubar-light {
    background: $site-menubar-light-bg;
    box-shadow: $site-menubar-light-shadow;
  }
}
