
@{
    ViewBag.Title = "Cadastrar";
}

<h2 class="h2">Cadastrar Funcionario</h2>

<form action="/funcionario/inserir" method="post">
    <div class="row">
        <div class="col-4">
            <label class="font-weight-bold">Cargo*</label>
            <select name="idcargo" class="form-control border-info">
                <option disabled="disabled" selected="selected">Selecione um cargo</option>
                @foreach (Model.Cargo Cargo in ViewBag.Cargos)
                {
                    <option value="@Cargo.Id">@Cargo.Nome</option>
                }
            </select>
        </div>
        <div class="col-8">
            <label class="font-weight-bold">Posto*</label>
            <select name="idPosto" class="form-control border-info mb-20">
                <option disabled="disabled" selected="selected">Selecione um posto</option>
                @foreach (Model.Posto Posto in ViewBag.Postos)
                {
                    <option value="@Posto.Id">@Posto.Nome</option>
                }
            </select>
        </div>
    </div>

    <label for="campo-nome" class="font-weight-bold">Nome*</label>
    <input type="text" name="nome" id="campo-nome" class="form-control border-info mb-20" />

    <div class="row">
        <div class="col-6">
            <label for="campo-login" class="font-weight-bold">Login*</label>
            <input type="text" name="login" id="campo-login" class="form-control border-info" />
        </div>
        <div class="col-6">
            <label for="campo-senha" class="font-weight-bold">Senha*</label>
            <input type="password" name="senha" id="campo-senha" class="form-control border-info" />
        </div>
    </div>
    <button type="submit" class="btn btn-success float-right mt-20"><i class="fa fa-save"></i> Salvar</button>
</form>

