
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar Funcionario</h2>

<form action="/inserir" method="post">
    <label class="font-weight-bold">Nome</label>
    <input type="text" name="nome" id="campo-nome" class="form-control border-info" />

<label class="font-weight-bold">Login</label>



</form>

