
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-6">
        <h2 class="h2">Lista de Funcionarios</h2>
    </div>
    <div class="col-6">
        <a class="btn btn-dark float-right mt-30" href="/funcionario/cadastrar"><i class="fa fa-plus"></i> Adicionar Funcionario</a>
    </div>
</div>
<table class="table table-primary table-bordered text-dark">
    <thead class="bg-dark">
        <tr>
            <td>Nome</td>
            <td>Posto</td>
            <td>Cargo</td>
            <td width="220px">Ação</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Model.Funcionario Funcionario in ViewBag.Funcionarios)
        {
            <tr>
                <td>@Funcionario.Nome</td>
                <td>@Funcionario.Posto.Nome</td>
                <td>@Funcionario.Cargo.Nome</td>
                <td>
                    <a href="/funcionario/alterar?id=@Funcionario.Id" class="btn btn-info ml-10"><i class="fa fa-edit"></i> Editar</a>
                    <a href="/funcionario/apagar?id=@Funcionario.Id" class="btn btn-danger ml-10"><i class="fa fa-trash"></i> Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

