
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Lavi</title>
    <link rel="icon" href="~/Content/Imagens/Logo Lavi  Preto.png"/>
    <link rel="stylesheet" href="~/Scripts/Tema/global/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
</head>
<body class="text-center">

    <!--Classe container é uma parte do site que fica mais centralizada -->
    <form action="/login/VerificaLogin" method="post">
        <div class="row">
            <div class="col-sm">

            </div>
            <div class="col-sm position-sticky" style="margin-top:90px">
                <img src="~/Content/Imagens/Logo Lavi  Preto.png" />
                <div style="margin-top: 20px">
                    <!--<label class="font-weight-bold" for="campo-login">Login</label>-->
                    <input type="text" id="campo-login" name="login" class="form-control" 
                           maxlength="45" placeholder="Login" value="josefa"/>
                </div>
                <div>
                    <!--<label class="font-weight-bold" for="campo-senha">Senha</label>-->
                    <input type="password" id="campo-senha" name="senha" class="form-control mt-3"
                           maxlength="45" placeholder="Senha" value="amomeufilho" />
                </div>

                <button class="btn btn-info mt-3 " type="submit"><i class="fa fa-sign-in"></i> Entrar</button>
            </div>
            <div class="col-sm">

            </div>
        </div>

    </form>



    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>
