
@{
    ViewBag.Title = "JaExiste";
}

<h2 class="display-4 text-danger"><i class="fa fa-close"></i><strong> Inválido</strong> </h2>

<p class="lead">A ação não foi concluida pois estava inválida, para mais informações contate o suporte.</p>

<p class="lead">Possiveis erros:</p>
<ul>
    <li class="lead">Registro já existe</li>
</ul>